@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0vh 25vh 10vh 25vh;
}

.navigation {
    display: flex;
    gap: 16px;
    padding: 3vh 0vh;
}

.hero {
    display: flex;
    gap: 10vh;
    padding-top: 10vh;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 16px;
}

.subscribe-btn.no-border button {
    border: none;
}

.header-logo, .hero-left {
    margin-right: auto;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
}

.hero-img {
    height: 250px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.info, .element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 8vh;
}

.info-header {
    margin-top: 0;
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
}

.element-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8vh;
    
}

.element {
    width: 200px;
    flex: auto;
    gap: 8px;
}

.info-img {
    height: 200px;
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 16px;
}

.img-description {
    text-align: center;
    color: #1f2937
}

.quotes-block {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh 40vh;
}

.quotes {
    font-size: 36px;
    color: #1f2937;
}

.author {
    /* display: flex;
    justify-content: flex-end; */
    margin-left: auto;
    font-weight: bold;
    color: #1f2937;
    font-size: 24px;
}

.subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action {
    flex: 1;
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 12vh 42vh;   
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    height: 18vh;
}

.subscribe-text h3, .subscribe-text p {
    margin: 0;
    color: white;
}

.subscribe-text h3 {
    font-size: 26px;
}

.subscribe-btn button {
    border-radius: 4px;
    background-color: #3882f6;
    display: inline-block;
    padding: 6px 16px;
    color: white;
    border: 2px solid white;
}

.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 64px;
}